# python virtual environment
venv

# python cache
*.pyc
.pytest_cache

# dot files
.env
.vscode

# terraform files
.terraform*
terraform.tfstate*

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

node_modules